.env
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/
.mypy_cache/
.DS_Store
outputs/
logs/*
!logs/.gitkeep
data/raw/*
!data/raw/.gitkeep
data/stage/*
!data/stage/.gitkeep
data/mart/*
!data/mart/.gitkeep
models/*
!models/.gitkeep
reports/*
!reports/.gitkeep
!reports/figures/
reports/figures/*
!reports/.gitkeep
!reports/figures/.gitkeep
postgres_data/
airflow_data/
plugins/*
!plugins/.gitkeep
